<footer class="footer-3 text-center-xs space--xs ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img style="max-height: 2.5em;" alt="Image" class="logo"
             src="{{ url_for('static',filename='img/ekdalt.png') }}">
        <ul class="list-inline list--hover">
          <li class="list-inline-item">
            <a href="{{ url_for('privacy') }}">
              <span class="type--fine-print">Privacy Policy</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="{{ url_for('terms') }}">
              <span class="type--fine-print">Terms & Conditions</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 text-md-right">
        <ul class="social-list text-sm-center list-inline list--hover">
          <li class="list-inline-item">
            <a href="https://www.instagram.com/emmakirbydesign/" target="_blank">
              <i class="socicon socicon-instagram icon icon--xs"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.pinterest.co.uk/emmakirbydesign/" target="_blank">
              <i class="socicon socicon-pinterest icon icon--xs"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.houzz.co.uk/professionals/interior-designers/emma-kirby-design-pfvwgb-pf~1703863429" target="_blank">
              <i class="socicon socicon-houzz icon icon--xs"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:enquiries@emmakirbydesign.com" target="_blank">
              <i class="socicon socicon-mail icon icon--xs"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-md-6">
        <span class="type--fine-print">©
        <span class="update-year">2020</span> Emma Kirby Design | Developed by Freddie Ergatoudis</span>
      </div>
      <div class="col-md-6 text-md-right">
        <span class="type--fine-print">The Coach House Studio, Home Farm, Grafton, Bampton, OX18 2RY</span>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</footer>