{% extends 'base/base.html' %}

{% block body %}
  <section class="imageblock switchable height-80">
    <div class="imageblock__content col-lg-5 col-md-4 pos-right">
      <div class="background-image-holder">
        <img alt="image" src="{{ random_image() }}"/>
      </div>
    </div>
    <div class="container pos-vertical-center">
      <div class="row text-center">
        <div class="col-lg-6 col-md-7">
          <h1>Contact Us</h1>
          <p class="lead">
            enquiries@emmakirbydesign.com
            <br>+44 13 6781 0575
          </p>
          <p class="lead">
            The Coach House Studio<br>Home Farm, Grafton<br>Bampton, Oxfordshire<br>OX18 2RY
          </p>
          <div class="modal-instance">
            <a href="#" class="btn btn--primary type--uppercase modal-trigger">Send Us A Message</a>
            <div class="modal-container menu-fullscreen">
              <div class="modal-content" data-width="100%" data-height="100%" style="min-height: 100vh; min-width: 100%">
                <div class="pos-vertical-center pos-absolute text-center">

                  <div class="container">
                    <div class="row justify-content-center align-items-center" style="height: 100vh">
                      <div class="col-md-10 col-lg-8">
                        <form class="text-left row mx-0" id="contact-us-form" action="#" method="post">
                          <div class="col-md-6">
                            <label>Your Name:</label>
                            <input type="text" name="name">
                          </div>
                          <div class="col-md-6">
                            <label>Email Address:</label>
                            <input type="email" name="email">
                          </div>
                          <div class="col-md-12">
                            <label>Message:</label>
                            <textarea rows="6" name="message"></textarea>
                          </div>
                          <div class="col-md-12">
                            <label class="hidden-xs hidden-sm"></label>
                            <button type="submit" class="g-recaptcha btn btn--primary type--uppercase"
                                    data-sitekey="6LeXLsMZAAAAAEupqa_qZeYysvma0sTA1hvdk-_H" data-callback="onSubmit">
                              Send Enquiry
                            </button>
                          </div>
                        </form>
                        <script>
                            let contactForm = document.getElementById('contact-us-form');

                            var onSubmit = async (res) => {
                                let response = await fetch('/contact-us', {
                                    method: 'POST',
                                    body: new FormData(contactForm)
                                });

                                response = await response.json();
                                if (response.success) {
                                    mr.modals.closeActiveModal();
                                    contactForm.reset();
                                    let notification = document.getElementById('message-success-notification');
                                    mr.notifications.showNotification(notification);
                                } else {
                                    location.reload();
                                }
                            }
                        </script>
                      </div>
                    </div>
                    <!--end of row-->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
{% endblock %}