{% extends 'base/base.html' %}

{% block body %}
  <section class="imageblock switchable feature-large height-80">
    <div class="imageblock__content col-lg-5 col-md-4 pos-right">
      <div class="background-image-holder">
        <img alt="image" src="{{ random_image() }}"/>
      </div>
    </div>
    <div class="container pos-vertical-center">
      <div class="row ">
        <div class="col-lg-6 col-md-7">
          <h1>{{ title }}</h1>
          <hr>
          <p class="lead">Emma Kirby Design is able to either work as an interior design studio, an architectural design practice or together as a multi-disciplined in-house team. Emma Kirby (interiors) and Michael Ergatoudis (planning and architecture) bring with them years of knowledge. Having built and renovated many of their own homes as well as those of their clients, they know every detail of the process and have formed strong working relationships with many trusted and talented people.</p>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="text-center">
    <div class="container">
      <div class="testimonial text-center row">
        <div class="container col-12 col-lg-11">
          <span class="h3">“Interiors are a key part of what we do and whether your home is a country house, an urban apartment, a ski chalet or a house by the coast, if it needs a total redesign to make the most of light and space or simply to redecorate and breathe new life into tired interiors we will handle every detail. Building each layer from electrical and lighting design to furniture, fabrics, floor and wall coverings, we deliver a scheme that will both comfort and inspire.”</span>
          <h5>Emma Kirby</h5>
          <span>Design Director</span>
        </div>
      </div>
    </div>
    <!--end of container-->
  </section>
  <section class="imageblock switchable-switch feature-large height-100">
    <div class="imageblock__content col-lg-6 col-md-4 pos-right">
      <div class="background-image-holder">
        <img alt="image" src="{{ url_for('static',filename='img/projects/soho-farmhouse/BizpASHX.jpeg') }}"/>
      </div>
    </div>
    <div class="container pos-vertical-center">
      <div class="row ">
        <div class="col-lg-5 col-md-7">
          <h1>Interior Design</h1>
          <hr>
          <p class="lead">
            Emma creates beautiful, inspiring and inviting interiors by sourcing and blending the very best of antique, vintage and modern design as well as developing her own bespoke pieces. The layering of texture, colour and lighting deliver perfectly balanced rooms where form and function work seamlessly together giving the client a space in which they can feel comfortable and relaxed.
          </p>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="text-center">
    <div class="container">
      <div class="testimonial text-center row">
        <div class="container col-12 col-lg-11">
          <span class="h3">“Home is the comfiest place to be.”</span>
          <h5>Winnie the Pooh</h5>
        </div>
      </div>
    </div>
    <!--end of container-->
  </section>
  <section class="imageblock switchable feature-large height-100">
    <div class="imageblock__content col-lg-6 col-md-4 pos-right">
      <div class="background-image-holder">
        <img alt="image" src="{{ url_for('static',filename='img/what-we-do/ex2.jpeg') }}"/>
      </div>
    </div>
    <div class="container pos-vertical-center">
      <div class="row ">
        <div class="col-lg-5 col-md-7">
          <h1>Planning Consultancy</h1>
          <hr>
          <p class="lead">
            As well as architectural and interior design experts, we have planning consultants who can advise on the
            best achievable planning outcome for your home or site and the safest strategy to gain permission. Time and
            again, our planning advice has exceeded the hopes and expectations of our clients and opened their eyes to
            new possibilities of what can be achieved.
          </p>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="text-center">
    <div class="container">
      <div class="testimonial text-center row">
        <div class="container col-12 col-lg-11">
          <span class="h3">“The houses we live in should be both uplifting and comforting; a sanctuary from the outside world and a place to relax and revive. We demand a great deal from where we live, so it is important that the right decisions are made to avoid a waste of both time and money.”</span>
          <h5>Michael Ergatoudis</h5>
          <span>Development Director</span>
        </div>
      </div>
    </div>
    <!--end of container-->
  </section>
  <section class="imageblock switchable-switch feature-large height-100">
    <div class="imageblock__content col-lg-6 col-md-4 pos-right">
      <div class="background-image-holder">
        <img alt="image" src="{{ url_for('static',filename='img/what-we-do/construction.jpg') }}"/>
      </div>
    </div>
    <div class="container pos-vertical-center">
      <div class="row ">
        <div class="col-lg-5 col-md-7">
          <h1>Construction</h1>
          <hr>
          <p class="lead">
            Emma Kirby Design can take your project from concept to completion. We have some of the best Project Managers in the business to expertly oversee our team of builders and contractors. The Construction and Studio Teams work closely together to manage programme schedules and costs, keeping in close contact with the client so every aspect is clear and transparent.
          </p>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
{% endblock %}